flows/nCino_Baseline_Record_Trigger_Service_Mgmt_Detail_Before_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>nCino&apos;s general purpose Record-Trigger flows are designed to bucket interactions into distinct pillars. 

1. On Create. These actions occur at the time the record is created. 
2. Progression (if applicable). These actions occur when a core process on the record progresses forward or backward. These should be picklists (Example: Loan Stage). 
3. Adhoc. All other actions which occur when distinct criteria are met.

A &quot;skip&quot; function is build into start conditions. This flow will not execute when the &quot;Exclude Flow&quot; permission set is assigned to the running user.</description>
        <name>Determine_Path</name>
        <label>Determine Path</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Mgmt_Detail_On_Edit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Adhoc</defaultConnectorLabel>
        <rules>
            <name>On_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Mgmt_Detail_On_Create</targetReference>
            </connector>
            <label>On Create</label>
        </rules>
    </decisions>
    <description>Updates the Record Type based off Type of Service Mgmt</description>
    <environments>Default</environments>
    <formulas>
        <description>Reusable variable. Drives &quot;On Create&quot; pillar.</description>
        <name>forB_Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>This formula uses logic to return a text value matching the names of the object&apos;s record types. The final ELSE condition returns a text value of &quot;Master Record Type&quot; which does not exist as an available record type. Per Salesforce functionality, when a record is updated and a matching record type cannot be found, the Record Type is updated based on profile configuration. 
Profile &gt; Object Settings &gt; Object &gt; Master Record Type.</description>
        <name>forT_DetermineRecordType</name>
        <dataType>String</dataType>
        <expression>IF(
TEXT({!$Record.LLC_BI__Type__c}) = &quot;Appraiser&quot;, &apos;Appraiser&apos;,
IF(
TEXT({!$Record.LLC_BI__Type__c}) = &quot;Attorney&quot;, &apos;Attorney&apos;,
IF(
TEXT({!$Record.LLC_BI__Type__c}) = &quot;Inspector&quot;, &apos;Inspector&apos;,
IF(
TEXT({!$Record.LLC_BI__Type__c}) = &quot;Insurance&quot;, &apos;Insurance&apos;,
IF(
TEXT({!$Record.LLC_BI__Type__c}) = &quot;Third Party Reports&quot;, &apos;Third Party Reports&apos;,
&apos;Master Record Type&apos;)))))</expression>
    </formulas>
    <interviewLabel>nCino Baseline - Record Trigger: Service Mgmt Detail Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nCino Baseline - Record Trigger: Service Mgmt Detail Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Mgmt_Detail_Record_Types</name>
        <label>Get Service Mgmt Detail Record Types</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Path</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Service_Mgmt_Detail__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forT_DetermineRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>A DML element to update the triggering Service Mgmt Detail.
Service Mgmt Detail - Appraiser Record Type
Service Mgmt Detail - Attorney Record Type
Service Mgmt Detail - Inspector Record Type
Service Mgmt Detail - Insurance Record Type
Service Mgmt Detail - Third Party Reports Record Type</description>
        <name>Update_Service_Mgmt_Detail_On_Create</name>
        <label>Update Service Mgmt Detail On Create</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Service_Mgmt_Detail_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>A DML element to update the triggering Service Mgmt Detail.
Service Mgmt Detail - Appraiser Record Type
Service Mgmt Detail - Attorney Record Type
Service Mgmt Detail - Inspector Record Type
Service Mgmt Detail - Insurance Record Type
Service Mgmt Detail - Third Party Reports Record Type</description>
        <name>Update_Service_Mgmt_Detail_On_Edit</name>
        <label>Update Service Mgmt Detail On Edit</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Service_Mgmt_Detail_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Mgmt_Detail_Record_Types</targetReference>
        </connector>
        <filterFormula>{!$Permission.LLC_BI__Exclude_Flow} = FALSE</filterFormula>
        <object>LLC_BI__Service_Mgmt_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
