flows/nCino_Baseline_Record_Trigger_Loan_Team_After_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Closer</name>
        <label>Set Closer</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Loan.cm_Closer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Credit_Analyst_Underwriter</name>
        <label>Set Credit Analyst / Underwriter</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Loan.cm_Credit_Analyst_Underwriter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loan_Assistant</name>
        <label>Set Loan Assistant</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Loan.cm_Loan_Assistant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loan_Officer_Lookup</name>
        <label>Set Loan Officer Lookup</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Loan.LLC_BI__Loan_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loan_Ops</name>
        <label>Set Loan Ops</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Loan.cm_Loan_Ops__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Portfolio_Manager</name>
        <label>Set Portfolio Manager</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Loan.cm_Portfolio_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LLC_BI__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Path</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>nCino&apos;s general purpose Record-Trigger flows are designed to bucket interactions into distinct pillars.

1. On Create. These actions occur at the time the record is created.
2. Progression (if applicable). These actions occur when a core process on the record progresses forward or backward. These should be picklists (Example: Loan Stage).
3. Adhoc. All other actions which occur when distinct criteria are met.

A &quot;skip&quot; function is build into start conditions. This flow will not execute when the &quot;Exclude Flow&quot; permission set is assigned to the running user.</description>
        <name>Determine_Path</name>
        <label>Determine Path</label>
        <locationX>842</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Update_Related_Loan_on_Edit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Adhoc</defaultConnectorLabel>
        <rules>
            <name>On_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Loan_on_Create</targetReference>
            </connector>
            <label>On Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>Logic to determine which Loan Team Member lookup up field on Loan should be populated, based off the Role Name</description>
        <name>Update_LTM_Loan_Lookup_Fields</name>
        <label>Update LTM Loan Lookup Fields</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Determine_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Loan_Officer_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Officer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Loan_Officer_Lookup</targetReference>
            </connector>
            <label>Update Loan Officer Field</label>
        </rules>
        <rules>
            <name>Update_Loan_Assistant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Loan_Assistant</targetReference>
            </connector>
            <label>Update Loan Assistant</label>
        </rules>
        <rules>
            <name>Update_Credit_Analyst_Underwriter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Analyst / Underwriter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Credit_Analyst_Underwriter</targetReference>
            </connector>
            <label>Update Credit Analyst / Underwriter</label>
        </rules>
        <rules>
            <name>Update_Portfolio_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portfolio Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Portfolio_Manager</targetReference>
            </connector>
            <label>Update Portfolio Manager</label>
        </rules>
        <rules>
            <name>Update_Loan_Ops</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Ops</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Loan_Ops</targetReference>
            </connector>
            <label>Update Loan Ops</label>
        </rules>
        <rules>
            <name>Update_Closer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Assigned_Role__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LLC_BI__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closer</targetReference>
            </connector>
            <label>Update Closer</label>
        </rules>
    </decisions>
    <description>Loan Team Member User Lookup fields populated on Loan when the LTM records are created and/or edited.</description>
    <environments>Default</environments>
    <formulas>
        <name>forB_Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>nCino Baseline - Record Trigger: Loan Team After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>nCino Baseline - Record Trigger: Loan Team After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Loan related to the Loan Team Member</description>
        <name>Get_Related_Loan</name>
        <label>Get Related Loan</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_LTM_Loan_Lookup_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Loan__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Loan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>A DML element to update the Loan record related to the triggering Loan Team Member record.</description>
        <name>Update_Related_Loan_on_Create</name>
        <label>Update Related Loan on Create</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <inputReference>Get_Related_Loan</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>A DML element to update the Loan record related to the triggering Loan Team Member record.</description>
        <name>Update_Related_Loan_on_Edit</name>
        <label>Update Related Loan on Edit</label>
        <locationX>974</locationX>
        <locationY>839</locationY>
        <inputReference>Get_Related_Loan</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Loan</targetReference>
        </connector>
        <filterFormula>{!$Permission.LLC_BI__Exclude_Flow} = FALSE</filterFormula>
        <object>LLC_BI__LoanTeam__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
